.corp_didactic {
    &__top_inner {
      background-color: #f8f8f8;
      padding: 20px 0;
  
      .container {
        max-width: 1200px;
        margin: 0 auto;
      }
  
      .item__image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  
    &__content {
      padding: 40px 20px;
      background-color: #fff;
  
      .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;  /* Ensure that content aligns correctly */
      }
    }
  
    &__header {
      text-align: center;
      margin-bottom: 40px;
  
      .description {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
      }

      .description {
        margin-top: 30px;
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  
    &__details {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;

      h3 {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
      }
  
      ul {
            list-style: none; /* Remove default list styling */
            padding: 0;
            font-family: Myriad Pro;
            font-size: 18px;
            line-height: 25px;
            text-align: left;
            width: 60%;
            margin-bottom: 30px;
          
            li {
              font-family: Myriad Pro;
              font-size: 18px;
              font-weight: 400;
              line-height: 25px;
              text-align: left;
              position: relative; /* Positioning context for the bullet */
              margin-bottom: 20px;
              padding-left: 20px; /* Space for the custom bullet */
            
              /* Add the dot (bullet) before each list item */
              &::before {
                content: '•'; /* Unicode for the bullet character */
                font-size: 18px; /* Adjust the size if needed */
                color: black; /* Color of the bullet */
                position: absolute;
                left: 0; /* Start at the very left edge of the li */
                top: 0;
                padding-left: 20px;
                transform: translateX(-20px); /* Move the bullet to the left */
              }
            }
        }
        .description {
            margin-top: 30px;
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            margin-bottom: 30px;
          }
          .description2 {
            margin-top: 30px;
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            margin-bottom: 80px;
          }
    }

    &__details2 {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        
  
      h3 {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 30px;
      }
  
      ul {
        list-style: none; /* Remove default list styling */
        padding: 0;
        font-family: Myriad Pro;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
      
        li {
          font-family: Myriad Pro;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          text-align: left;
          position: relative; /* Positioning context for the bullet */
          margin-bottom: 13px;
          padding-left: 20px; /* Space for the custom bullet */
        
          /* Add the dot (bullet) before each list item */
          &::before {
            content: '•'; /* Unicode for the bullet character */
            font-size: 18px; /* Adjust the size if needed */
            color: black; /* Color of the bullet */
            position: absolute;
            left: 0; /* Start at the very left edge of the li */
            top: 0;
            padding-left: 20px;
            transform: translateX(-20px); /* Move the bullet to the left */
          }
        }
      }
    }
  
    &__columns {
        display: flex; /* Use Flexbox for layout */
        justify-content: space-between; /* Space between the columns */
        gap: 20px; /* Optional: Add space between columns */
        margin-bottom: 40px;
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        margin-top: 40px;
        
  
      .column {
        width: 48%;
  
        h4 {
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            margin-bottom: 10px;
        }
  
        ol {
          padding-left: 20px;
          counter-reset: item;
          margin-bottom: 10px;
  
          li {
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            margin-bottom: 10px;
          }
        }
  
        p {
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            margin-bottom: 10px;
            
        }
      }
    }
  
    &__footer {
      text-align: center;
      border-top: 1px solid #ccc;
      padding-top: 20px;
  
      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }
    }
  
    &__additional {
      padding: 40px 20px;
      ;
      ;
  
      .container {
        max-width: 1200px;
        margin: 0 auto;
      }
  
      h2 {
        font-family: Myriad Pro;
        font-size: 40px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        color: #66220F;
      }
  
      h3 {
        font-family: Myriad Pro;
        font-size: 40px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        color: #66220F;
        margin-bottom: 30px;
      }
  
      p {
        font-family: Myriad Pro;
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-left: 0; /* Ensure no additional margin is pushing it right */
        padding-left: 0;
        margin-top: 20px;
      }
  
      &__additional_details {
        margin-bottom: 20px;
  
        h4 {
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .columns {
            display: flex; /* Use Flexbox to create columns */
            justify-content: space-between; /* Distribute space between columns */
            gap: 20px; /* Optional: Add some space between the two lists */
            margin-top: 20px;
          }
  
        ul {
            list-style: none; /* Remove default list styling */
            padding: 0;
            font-family: Myriad Pro;
            font-size: 18px;
            line-height: 25px;
            text-align: left;
            width: 48%;
          
            li {
              font-family: Myriad Pro;
              font-size: 18px;
              font-weight: 400;
              line-height: 25px;
              text-align: left;
              position: relative; /* Positioning context for the bullet */
              margin-bottom: 20px;
              padding-left: 20px; /* Space for the custom bullet */
            
              /* Add the dot (bullet) before each list item */
              &::before {
                content: '•'; /* Unicode for the bullet character */
                font-size: 18px; /* Adjust the size if needed */
                color: black; /* Color of the bullet */
                position: absolute;
                left: 0; /* Start at the very left edge of the li */
                top: 0;
                padding-left: 20px;
                transform: translateX(-20px); /* Move the bullet to the left */
              }
            }
        }
      }

      &__differentColor {
        background: #F1ECEE;
        h4 {
            margin-top: 40px;
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        ul {
            list-style: none; /* Remove default list styling */
            padding: 0;
            font-family: Myriad Pro;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            width: 75%;
            margin: 0 auto 30px auto; /* Center the list on the page */
            margin-bottom: 30px;
          
            li {
              font-family: Myriad Pro;
              font-size: 18px;
              font-weight: 400;
              line-height: 25px;
              text-align: left;
              position: relative; /* Positioning context for the bullet */
              margin-bottom: 20px;
              padding-left: 20px; /* Space for the custom bullet */
            
              /* Add the dot (bullet) before each list item */
              &::before {
                content: '•'; /* Unicode for the bullet character */
                font-size: 18px; /* Adjust the size if needed */
                color: black; /* Color of the bullet */
                position: absolute;
                left: 0; /* Start at the very left edge of the li */
                top: 0;
                padding-left: 20px;
                transform: translateX(-20px); /* Move the bullet to the left */
              }
            }
        }

      }
  
      &__dates {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
      }
  
      &__contact {
        text-align: center;
        margin-bottom: 20px;
  
        h4 {
            margin-top: 40px;
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            color: #66220F;

        }
  
        address {
            font-family: Myriad Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #66220F;

            
  
          a {
            color: #66220F;
            text-decoration: none;
          }
        }
      }
    }
  }
  