@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Bold.woff');
	/* src: local('Myriad Pro Bold'), local('MyriadPro-Bold'), */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Semibold.woff');
	/* src: local('Myriad Pro Bold'), local('MyriadPro-Bold'), */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.woff');
	/* src: local('Myriad Pro Bold'), local('MyriadPro-Bold'), */
	font-weight: 400;
	font-style: normal;
}

