@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

@import "swiper/css/scrollbar";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --pseudo-counter: "0"
}

* {
  @apply p-0 m-0 box-border;
  font-family: "Myriad Pro";
}
html {
  width: 100%;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  @media screen and (min-width: 320px) {
    font-size: calc(100vw / (428 * 1));
  }
  @media screen and (min-width: 600px) {
    font-size: calc(100vw / (1440 * 1));
  }
  @media screen and (min-width: 1440px) {
    font-size: 1px;
  }
}
body {
  @apply h-full w-full max-w-full relative top-0 left-0 z-[-1] bg-[#F0F0F0];
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar .swiper-scrollbar-horizontal {
  margin-left: 300rem;
  width: 50% !important;

  @media screen and (max-width: 600px) {
    @apply hidden;
  }
}
.swiper .swiper-scrollbar-drag {
  background-color: rgb(207, 74, 71) !important;
  width: 50% !important;
}
.desktop_public_posts__gallery__1_SIj {
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    @apply text-[#272B37] top-[542rem] z-[11];

    @media screen and (max-width: 600px) {
      @apply top-[510rem];
    }

    &::after {
      @apply text-[11rem];

      @media screen and (max-width: 600px) {
        @apply text-[21rem];
      }
    }

      .swiper-pagination-fraction {
    @apply flex justify-center gap-[10rem] text-[21rem] bottom-[-8rem];
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[21rem] text-[#515151] font-semibold relative;

    &::before {
      @apply content-['0'] inline-flex text-[21rem] text-[#515151] font-semibold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[21rem] text-[#cf4a47] font-semibold;
    }
  }
  }
  .swiper .swiper-button-next {
    @apply right-[200rem];

    @media screen and (max-width: 600px) {
      @apply right-[150rem];
    }
  }
  .swiper .swiper-button-prev {
    @apply left-[935rem];

    @media screen and (max-width: 600px) {
      @apply left-[150rem];
    }
  }
  .swiper-wrapper {
    @media screen and (max-width: 600px) {
      @apply ml-[15rem];
    }
  }
  .swiper-pagination-fraction {
    @apply flex ml-[240rem] mb-[4rem] gap-[4rem] text-[14rem] font-bold bottom-[-8rem];

    @media screen and (max-width: 600px) {
      @apply justify-center ml-0 mb-[38rem];
    }
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[14rem] text-[#515151] font-bold relative;

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#515151] font-bold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#cf4a47] font-bold;
    }
  }
}
// gallery photos
.desktop_public_posts__gallery__UNQnC {
  .inactive-slide {
    opacity: 0.5; /* Makes the slide look inactive */
    pointer-events: none; /* Prevents interactions with the slide */
  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
      @apply text-[#272B37] top-[352rem] z-[12];

      &::after {
          @apply text-[21rem] font-bold;
      }
  }
  .swiper .swiper-button-next {
      @apply right-[135rem];
  }
  .swiper .swiper-button-prev {
      @apply left-[135rem];
  }
  .swiper-pagination-fraction {
    @apply flex justify-center gap-[4rem] text-[14rem] bottom-[36rem] z-[10];
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[14rem] text-[#515151] font-semibold relative;

    &::before {
      @apply content-[''] inline-flex text-[14rem] text-[#515151] font-semibold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#cf4a47] font-semibold;

    }
  }
  .swiper-pagination-current.content-none {
    @apply text-[#cf4a47];
    &::before {
      @apply content-[''] inline-flex text-[14rem] text-[#cf4a47] font-semibold;
    }
  }
}
.desktop_public_posts__gallery__IJtP7 {
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
      @apply text-[#272B37] top-[1584rem];
    @media screen and (max-width: 600px) {
       @apply top-[530rem] z-10;
    }

    &::after {
      @apply text-[20rem] font-bold;
      @media screen and (max-width: 600px) {
        @apply text-[#272B37] text-[21rem] font-bold;
      }
    }
  }
  .swiper .swiper-button-next {
    @apply right-[540rem];
    @media screen and (max-width: 600px) {
      @apply right-[140rem] z-[12];
    }
  }

  .swiper .swiper-button-prev {
    @apply left-[540rem];
    @media screen and (max-width: 600px) {
      @apply left-[140rem] z-[12];
    }
  }

  .swiper-pagination {
    @apply flex justify-center mb-[14rem] gap-[15rem];

    @media screen and (max-width: 600px) {
      @apply mb-0;
    }
  }

  .swiper-pagination-bullet {
    @apply text-[21rem] font-semibold text-[#272b37] bg-transparent opacity-100;
  }

  .swiper-pagination-bullet-active  {
    @apply text-[21rem] font-semibold text-[#cf4a47] ;
  }

  .swiper-wrapper {
    @media screen and (max-width: 600px) {
    @apply pl-[15rem] pr-[15rem];
  }
  }

  .swiper-pagination-fraction {
    @apply flex justify-center gap-[4rem] text-[14rem] bottom-[0rem];
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[14rem] text-[#515151] font-semibold relative;

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#515151] font-semibold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#cf4a47] font-semibold;
    }
  }
}
.slider_mobile_posts__gallery__rA_PC {

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {

    @media screen and (max-width: 600px) {
      @apply text-[#272B37] top-[620rem];
    }

    &::after {
      @media screen and (max-width: 600px) {
        @apply text-[21rem] font-bold;
      }
    }
  }

  .swiper .swiper-button-next {
    @media screen and (max-width: 600px) {
      @apply right-[140rem] z-[11];
    }
  }

  .swiper .swiper-button-prev {
    @media screen and (max-width: 600px) {
      @apply left-[140rem] z-[11];
    }
  }

   .swiper-pagination-fraction {
    @media screen and (max-width: 600px) {
      @apply flex justify-center gap-[4rem] text-[14rem] font-bold bottom-[28rem] z-[10];
    }
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[14rem] text-[#515151] font-bold relative;

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#515151] font-bold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47] font-bold;

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#cf4a47] font-bold;
    }
  }

}
// post by id
.desktop_public_publications__posts__u_59V {

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    @media screen and (max-width: 600px) {
       @apply top-[650rem] z-10;
    }

    &::after {
      @apply text-[20rem] font-bold;
      @media screen and (max-width: 600px) {
        @apply text-[#272B37] text-[20rem] font-bold;
      }
    }
  }
  .swiper .swiper-button-next {
    @apply right-[500rem];
    @media screen and (max-width: 600px) {
      @apply right-[135rem] z-[12];
    }
  }

  .swiper .swiper-button-prev {
    @apply left-[500rem];
    @media screen and (max-width: 600px) {
      @apply left-[135rem] z-[12];
    }
  }

  .swiper-pagination-bullet {
    @apply text-[21rem] font-semibold text-[#272b37] bg-transparent opacity-100;
  }

  .swiper-pagination-bullet-active  {
    @apply text-[21rem] font-semibold text-[#cf4a47] ;
  }

  .swiper-wrapper {
      @media screen and (max-width: 600px) {
      @apply pr-[15rem] pb-[60rem];
    }
  }

   .swiper-pagination-fraction {
    @apply flex justify-center gap-[4rem] text-[14rem] bottom-[10rem];
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[14rem] text-[#515151] font-semibold relative;

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#515151] font-semibold;
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[14rem] text-[#cf4a47] font-semibold;
    }
  }
}
// gallery page photo
.desktop_public_publications__posts__8NUP4 {

  .swiper {
    @apply pb-[100rem];
  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {

      @apply text-[#272B37] top-[960em] z-[12];

      @media screen and (max-width: 600px) {
        @apply top-[600rem];
      }

    &::after {
        @apply text-[20rem] font-bold;
    }
  }
  .swiper .swiper-button-next {
      @apply right-[500rem];

      @media screen and (max-width: 600px) {
        @apply right-[130rem];
      }
  }

  .swiper .swiper-button-prev {
      @apply left-[500rem];

      @media screen and (max-width: 600px) {
        @apply left-[130rem];
      }
  }

  .swiper-pagination-fraction {
    @apply flex justify-center gap-[4rem] text-[21rem] bottom-[24rem] z-[10];
  }
  .swiper-pagination-current,
  .swiper-pagination-total {
    @apply text-[21rem] text-[#515151] font-semibold relative;

    &::before {
      @apply content-['0'] inline-flex text-[21rem] text-[#515151] font-semibold;

      @media screen and (max-width: 600px) {
        @apply content-['']; 
      }
    }
  }
  .swiper-pagination-current {
    @apply text-[#cf4a47];

    &::before {
      @apply content-['0'] inline-flex text-[21rem] text-[#cf4a47] font-semibold;
    }
  }
   .swiper-pagination-current.content-none {
    @apply text-[#cf4a47];
    &::before {
      @apply content-[''] inline-flex text-[14rem] text-[#cf4a47] font-semibold;
    }
  }
  .swiper-pagination-current.active {
    @apply text-[#cf4a47];

    &::before {
      @apply content-[''] inline-flex text-[21rem] text-[#cf4a47] font-semibold;
    }
  }
}
// post to slider
.post_post__GZ6Ph {
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {

      @apply text-[#272B37] top-[590rem] z-[12];

      @media screen and (max-width: 600px) {
        @apply top-[600rem];
      }

    &::after {
        @apply text-[14rem] font-bold;
    }
  }
  .swiper .swiper-button-next {
      @apply left-[170rem];

      @media screen and (max-width: 600px) {
        @apply right-[130rem];
      }
  }
  .swiper .swiper-button-prev {
      @apply left-0;

      @media screen and (max-width: 600px) {
        @apply left-[130rem];
      }
  }
}