.header {
    @apply w-full h-[340rem] relative z-0;
    font-family: 'Myriad Pro';

    @media screen and (max-width: 600px) {
        @apply h-[320rem];
    }
}
.header__wrapper {
    @apply h-full w-full absolute top-0 left-0 z-[1] bg-[url('https://res.cloudinary.com/dkkozauci/image/upload/v1718872013/header-bg_qwhawq_custom-med_xoftvj.webp')] bg-cover bg-no-repeat after:content-[''] after:block after:absolute after:top-0 after:left-0 after:z-[2] after:h-full after:w-full after:bg-[#39363566]/40;
    background-position-y: 67%;

    @media screen and (max-width: 600px) {
        @apply overflow-hidden;
            background-position-x: center;
    }
}
.header__top_gradient {
    @apply block absolute top-0 left-0 z-[2] h-[140rem] w-full;
    background-image: linear-gradient(0deg, rgba(22, 11, 3, 0) 0%, #160b03 100%);
}
.container {
    @apply w-[1200rem] mx-auto;
}
.header__top {
    @apply flex justify-between items-center gap-[25rem] pt-[20rem] relative top-0 z-[3] uppercase;

     @media screen and (max-width: 600px) {
        @apply justify-between px-[15rem];
    }

    .top__items {
        @apply flex items-center gap-[25rem] text-[15rem] font-bold text-white;

        @media screen and (max-width: 600px) {
        @apply hidden;
    }
    }
    .top__item {
        @apply flex justify-center items-center gap-[10rem] hover:cursor-pointer;
        .item__text {
            @apply inline-flex;
        }
        .item__selector {
            @apply inline-flex;

            &_rotate {
            @apply inline-flex rotate-180;
        }
        }
    }

      .item__selector {
            @apply inline-flex self-center;

            &_rotate {
            @apply inline-flex rotate-180;
        }
        }

    .top__item_menu {
        @apply absolute top-[30rem] left-0 flex flex-col h-auto w-[154rem];
        background: rgba(46, 41, 20, 0.8);
        box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.8);

        ul {
            li {
                @apply w-full leading-none;
            }

            a {}
        }
    }
}
.header__title {
    @apply text-[52rem] text-white font-bold mt-[60rem] leading-[66rem] relative z-[3] uppercase;
    text-shadow: 2rem 2rem 3rem 0 rgba(0, 0, 0, 0.8);

    @media screen and (max-width: 600px) {
        @apply text-[40rem] leading-none left-[8%];
        text-shadow: 2rem 2rem 4rem 0 rgba(0, 0, 0, 0.8);
    }
}
//  ===== burger button =====>
.burger__button {
    @apply hidden;

    @media screen and (max-width: 600px) {
        @apply inline-block hover:cursor-none absolute left-[366rem];
     span {
        @apply inline-flex w-[38rem] h-[6rem] bg-white rounded-full relative top-0 left-0 z-0;

        &::before {
            @apply content-[''] inline-flex w-[38rem] h-[6rem] bg-white rounded-full absolute top-[-12rem] left-0 z-0;
        }

        &::after {
            @apply content-[''] inline-flex w-[38rem] h-[6rem] bg-white rounded-full absolute top-[12rem] left-0 z-0;
        }
    }   
    }
}